label.error{
    color: #ff0000;
    font-size: 0.8em;
}

.success {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #388838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 20%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 0px;
    position: absolute;
}
.tim-note img.quote-img,.tim-note img.study-img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

#pagination {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}
#pagination> li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
}
.posted-date{
    display: block;
    font-size: 10px;
    color: #03A9F4;
    float: right;
}
.pagination-orange>.active>a,
.pagination-orange>.active>a:focus,
.pagination-orange>.active>a:hover,
.pagination-orange>.active>span,
.pagination-orange>.active>span:focus,
.pagination-orange>.active>span:hover{
    background-color: #FF9800;
    border-color: #FF9800;
}
.link{
    display: block;
}
.link a{
    font-size: 13px;
    text-decoration: none;
}
.profile-link{
    color: #666;
}